/*
COLORS:
/* https://coolors.co/palette/ffb5a7-fcd5ce-f8edeb-f9dcc4-fec89a

*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

.html {
  /* 10px =  10/16px -> .625 = 62.5% */
  font-size: 62.5%; }

body {
  /* Project wide definitions */
  font-family: "Lato", serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  /* White border around site */
  padding: 30px;
  /* Change box model so that borders and paddings are no longer added to the total width and height specified */
  /* moving box-sizing property here and changing the global box-sizing inheritance property to be true */
  box-sizing: border-box; }

.header {
  position: relative; }
  .header__bg-img-main {
    /* The height of the element should be 95% of the viewport height */
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(254, 222, 194, 0.8), #cba07b), url(../img/Dog-running.jpg);
    /* Adding blur to background img */
    filter: blur(1.5px);
    /* Fit the image in the size of the view port */
    background-size: cover;
    /* top of the photo still in frame when window is resized */
    background-position: top;
    /* Specifiy polygon where image is still visible */
    clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%); }
  .header__logo {
    height: 6rem;
    transition: all 0.1s; }
    .header__logo::hover {
      height: 6.2rem; }
  .header__logo-box {
    /* positions item relative to the parent that's position is relative */
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__text-box {
    /* Centering the text in the middle */
    position: absolute;
    /* move 50% down page */
    top: 40%;
    /* move 50% away from left */
    left: 50%;
    /* Relative to the container, translate items %50 of its height and width up and left */
    transform: translate(-50%, -50%);
    /* center elements in container */
    text-align: center; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  /* Hides back part of element during animations. */
  backface-visibility: hidden;
  margin-bottom: 2.4rem; }
  .heading-primary--main {
    display: block;
    font-size: 3.2rem;
    font-weight: 500;
    letter-spacing: 1rem;
    /* Setting up moving title animation */
    animation-name: moveInLeft;
    animation-duration: 0.75s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 3.6rem;
    font-weight: 300;
    letter-spacing: 1rem;
    /* Setting up moving title animation */
    animation-name: moveInRight;
    animation-duration: 0.75s;
    animation-timing-function: ease-out; }

.btn {
  /* when clicked, -1px relative to the link state position */ }
  .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    /* round out corners */
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative; }
  .btn:hover {
    transform: translateY(-3px);
    /* create shadows: (x-axis) (y-axis) (blur) (color) */
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3);
    /* target hover state of button, but only the after pseudo element */ }
    .btn:hover::after {
      transform: scaleX(1.5) scaleY(1.6);
      opacity: 0; }
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); }
  .btn--white {
    background-color: #fff;
    color: #777; }
    .btn--white::after {
      background-color: #fff; }
  .btn::after {
    /* These 2 properties are needed for pseudo elements to appear */
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    /* relative to the btn */
    position: absolute;
    top: 0;
    left: 0;
    /* put it behind the & */
    z-index: -1;
    transition: all 0.4s; }
  .btn--animated {
    animation-name: moveInBottom;
    animation-delay: 0.2s;
    animation-duration: 0.75s;
    animation-timing-function: ease-out;
    /* the starting animation property values are applied before the animation starts*/
    animation-fill-mode: backwards; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px); }
  100% {
    opacity: 1;
    transform: translate(0); } }
